body {
	font-family: "Open Sans Condensed";
	padding: 20px 40px;
}

a {
	text-decoration: none;
	color: black;
}

* {
	box-sizing: border-box;
}

.no-select {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
